<div class="container">
<form [formGroup]="userFormGroup"> 
  <div class="form-group row" style="margin-left:0px">
    <input type="text" required class="form-control" formControlName="firstName" placeholder="First Name" required style="width:280px;">&nbsp;&nbsp;
    <input type="text" class="form-control"  formControlName="lastName" placeholder="Last Name" required style="width:210px;">
  </div> 
  <div class="form-group">
    <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control"  formControlName="password" placeholder="password" required>
  </div>
  <div class="form-group">
    <input type="number" class="form-control"  formControlName="mobileNo" placeholder="Mobile No" required>
  </div>
  <div class="row form-group" style="margin-left:0px;">
				<select class="form-control"  formControlName="day" style="width:160px;">
          <option value="0" disabled>Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>&nbsp;&nbsp;&nbsp;
				<select class="form-control"  formControlName="month" style="width:160px">
          <option value="0" disabled>Month</option>
          <option>JAN</option>
          <option>FEB</option>
          <option>MAR</option>
          <option>APR</option>
          <option>MAY</option>
          <option>JUN</option>
          <option>JUL</option>
          <option>AUG</option>
          <option>SEP</option>
          <option>OCT</option>
          <option>NOV</option>
          <option>DEC</option>
        </select>&nbsp;&nbsp;&nbsp;
				<select class="form-control"  formControlName="year" style="width:160px">
          <option value="0" disabled>Year</option>
          <option>2010</option>
          <option>2009</option>
          <option>2007</option>
          <option>2006</option>
          <option>2005</option>
          <option>2004</option>
          <option>2003</option>
          <option>2002</option>
          <option>2001</option>
          <option>2000</option>
          <option>1999</option>
          <option>1998</option>
        </select>		
  </div>
  <div class="form-group">
    <input type="text" class="form-control"  formControlName="gender" placeholder="Gender" required>
  </div>
  <button (click)="submit()" class="btn btn-primary">Submit</button>
</form>
</div>