<div class="container">
<form>
  <div class="form-group">
    <input type="text" required class="form-control" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name" #firstNameControl="ngModel" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" placeholder="Last Name">
  </div> 
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="password">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" [(ngModel)]="user.mobileNo" [ngModelOptions]="{standalone: true}" placeholder="Mobile No">
  </div>
  <div>
    	<td>
				<select [(ngModel)]="user.day"[ngModelOptions]="{standalone: true}">
          <option value="0" disabled>Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
				<select  [(ngModel)]="user.month"[ngModelOptions]="{standalone: true}">
          <option value="0" disabled>Month</option>
          <option>JAN</option>
          <option>FEB</option>
          <option>MAR</option>
          <option>APR</option>
          <option>MAY</option>
          <option>JUN</option>
          <option>JUL</option>
          <option>AUG</option>
          <option>SEP</option>
          <option>OCT</option>
          <option>NOV</option>
          <option>DEC</option>
        </select>
				<select [(ngModel)]="user.year"[ngModelOptions]="{standalone: true}">
          <option value="0" disabled>Year</option>
          <option>2010</option>
          <option>2009</option>
          <option>2007</option>
          <option>2006</option>
          <option>2005</option>
          <option>2004</option>
          <option>2003</option>
          <option>2002</option>
          <option>2001</option>
          <option>2000</option>
          <option>1999</option>
          <option>1998</option>
        </select>
			</td>
		
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" placeholder="Gender">
  </div>
  <button (click)="submit()" class="btn btn-primary">Submit</button>
</form>
</div>